<launch>
  <!-- Define the machine where the Raspberry Pi nodes will run -->
  <machine name="raspberry_pi" address="10.255.32.36" user="chengjindu" env-loader="/home/chengjindu/SoftMag/Console/ros_workspace/ros_env_loader.sh" />

  <!-- Include start_diagnostics.launch -->
  <include file="$(find data_processing)/launch/start_diagnostics.launch"/>
  
  <!-- Start sensor reading node on the Raspberry Pi -->
  <node name="sensor_i2c_reading_node" pkg="your_package_name" type="sensors_i2c_reading_node.py" machine="raspberry_pi" output="screen" />

  <!-- Start data processing node on the local machine -->
  <node name="data_processing_node" pkg="data_processing" type="data_processing_node.py" output="screen" />

  <!-- Start rqt -->
  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" output="screen" />

  <!-- Start rqt_graph -->
  <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" output="screen" />
</launch>
