<launch>

  <!-- Include start_diagnostics.launch -->
  <include file="$(find data_processing)/launch/start_diagnostics.launch"/>

  <!-- Start data processing node on the local machine -->
  <node name="data_processing_node" pkg="data_processing" type="data_processing_node.py" output="screen" />

  <!-- Start signal monitoring node on the local machine -->
  <node name="signal_monitoring_node" pkg="signal_monitoring" type="signal_monitoring_node.py" output="screen" />

  <!-- Start machine learning prediction node on the local machine -->
  <node name="ml_prediction" pkg="ml_prediction" type="ml_prediction_node.py" output="screen" />

  <!-- Start qt interface node on the local machine -->
  <node name="main_interface" pkg="qt_interface" type="main_window.py" output="screen" />
  <node name="mode_manager" pkg="qt_interface" type="mode_manager.py" output="screen" />

  <!-- Start data recording node on the local machine -->
  <node name="data_recording_node" pkg="data_recording" type="data_recording_node.py" output="screen" />

  <!-- Start sofa simulation node on the local machine -->
<!--   <node name="sofa_simulation_node" pkg="sofa_simulation" type="sofa_simulation_node.py" output="screen"> -->
<!--     <env name="PYTHONPATH" value="$(optenv PYTHONPATH)${PYTHONPATH}:/home/chengjin/Projects/SoftMag/ros_workspace/src/sofa_simulation/src" /> -->
<!--   </node> -->

</launch>
