<launch>

  <!--   Start sofa simulation node on the local machine -->
  <node name="sofa_simulation_node" pkg="sofa_simulation" type="sofa_simulation_node.py" output="screen">
    <env name="PYTHONPATH" value="$(optenv PYTHONPATH)${PYTHONPATH}:/home/chengjin/Projects/SoftMag/ros_workspace/src/sofa_simulation/src" />
  </node>


</launch>