<launch>
  <!-- Load diagnostic aggregator's analyzers configuration -->
  <rosparam file="$(find sensors_data_processing)/config/diagnostics_analyzers.yaml" command="load" />

  <!-- Run the diagnostic aggregator -->
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" />
</launch>
